{% extends "account/base_auth.html" %}
{% load static i18n %}
{% block auth_title %}{% trans "Forgot Password" %}{% endblock %}

{% block auth_image %}
    <img src="{% static 'image/forgot_password.png' %}" alt="Forgot Password">
{% endblock %}

{% block image_title %}{% trans "Recover your account" %}{% endblock %}

{% block image_text %}
    {% trans "We will help you securely get back into your ArenaGuide account." %}
{% endblock %}

{% block auth_content %}
    <h1>{% trans "Forgot Password?" %}</h1>
    <p>{% trans "Enter your email and we will send you a reset link." %}</p>

    <form method="post" class="auth-form">
        {% csrf_token %}

        <div class="auth-field">
            <label>{% trans "Email" %} <span>*</span></label>
            <div class="auth-input">
                <i class="bi bi-envelope"></i>
                {{ form.email }}
            </div>
            {{ form.email.errors }}
        </div>

        <button type="submit" class="auth-submit">
            {% trans "Send Reset Link" %}
        </button>
    </form>

    <div class="auth-extra">
        <a href="{% url 'account:login' %}">
            {% trans "Back to Login" %}
        </a>
    </div>
{% endblock %}