{% extends "account/base_auth.html" %}
{% load static i18n %}
{% block auth_title %}{% trans "Reset Link Sent" %}{% endblock %}

{% block auth_image %}
    <img src="{% static 'image/email_check.png' %}" alt="Reset Link Sent">
{% endblock %}

{% block image_title %}{% trans "Check your email" %}{% endblock %}

{% block image_text %}
{% trans "Follow the reset link sent to your email to create a new password." %}
{% endblock %}

{% block auth_content %}
    <h1>{% trans "Check your email" %}</h1>
    <p>{% trans "If an account exists with that email, you will receive a password reset link shortly." %}</p>

    <div class="auth-extra">
        <a href="{% url 'account:login' %}">
            {% trans "Back to Login" %}
        </a>
    </div>
{% endblock %}