{% extends "account/base_auth.html" %}
{% load static i18n %}
{% block auth_title %}{% trans "Password Updated" %}{% endblock %}

{% block auth_image %}
    <img src="{% static 'image/password_reser_done' %}" alt="Password Updated">
{% endblock %}

{% block image_title %}{% trans "Account secured" %}{% endblock %}

{% block image_text %}
{% trans "You can now continue your ArenaGuide experience safely." %}
{% endblock %}

{% block auth_content %}
    <h1>{% trans "Password Updated" %}</h1>
    <p>{% trans "Your password has been changed successfully. You can now login with your new password." %}</p>

    <div class="auth-extra">
        <a href="{% url 'account:login' %}">
            {% trans "Login Now" %}
        </a>
    </div>
{% endblock %}