{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "My Profile" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}?v=10">
{% endblock %}

{% block content %}
<section class="profile-page">
    <div class="profile-card">
        <div class="profile-header">

            <div class="profile-avatar">
                {{ request.user.username|slice:":1"|upper }}
            </div>

            <div>
                <h1>{% trans "My Profile" %}</h1>
                <p>{% trans "Manage your ArenaGuide account information." %}</p>
            </div>

        </div>

        <div class="profile-info">

            <div class="info-item">
                <span>{% trans "Username" %}</span>
                <strong>{{ request.user.username }}</strong>
            </div>

            <div class="info-item">
                <span>{% trans "Email" %}</span>
                <strong>{{ request.user.email|default:"Not provided" }}</strong>
            </div>

            <div class="info-item">
                <span>{% trans "Full Name" %}</span>
                <strong>
                    {{ request.user.get_full_name|default:"Not provided" }}
                </strong>
            </div>

            <div class="info-item">
                <span>{% trans "Account Status" %}</span>
                <strong class="status-active">{% trans "Active" %}</strong>
            </div>

        </div>
        <div class="profile-actions">
            <a href="{% url 'core:home' %}" class="btn-primary">Back</a>

            <button type="button" class="btn-secondary" id="openLogoutModal">
                Logout
            </button>
        </div>
    </div>
</section>
<div class="logout-modal-overlay" id="logoutModal">
    <div class="logout-modal">
        <h3>Confirm Logout</h3>
        <p>Are you sure you want to log out of your account?</p>

        <div class="logout-modal-actions">
            <button type="button" class="btn-cancel" id="closeLogoutModal">
                Cancel
            </button>

            <form method="POST" action="{% url 'account:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-secondary">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}